<!DOCTYPE html>
<html>
<head>
  <title>ProjectHub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>
  <h1>[Project Name] Project Timeline</h1>
  <ol class="timeline">
    <li class="tl-node">
      <div class="tl-stamp">August 14th, 2013</div>
      <div class="tl-content">Kickoff Meeting</div>
      <a href="#">View notes</a>
    </li>
    <li class="tl-node">
      <div class="tl-stamp">August 9th, 2013</div>
      <div class="tl-content">Sign contract</div>
      <a href="#">View contract</a>
    </li>
    <li class="tl-node">
      <div class="tl-stamp">August 7th, 2013</div>
      <div class="tl-content">Initial meeting</div>
      <a href="#">Meeting Notes</a>
    </li>
    <li class="tl-node">
      <div class="tl-stamp">July 13th, 2013</div>
      <div class="tl-content">Initial contact</div>
    </li>
  </ol>
</body>
</html>